<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Welcome</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
        <div>
            <a href="/feed">feed</a>
            <a href="/profile">profile</a>
        </div>
        <h3>Posted by: <%= post.user.userName %></h3>
        <% if(user.id === post.user.id) {%>
            <form method="POST" action="/post/deletePost/<%= post._id %>?_method=DELETE">
                <button type="submit">Delete My Post</button>
            </form>
        <% } %>
        <p>Posted At: <%= post.createdAt %></p>
		<h1 id="title"><%= post.title %></h1>
        <p id="caption"><%= post.caption %></p>
        <p>Likes: <%= post.likes %></p>
        <form method="POST" action="/post/like/<%= post._id %>?_method=PUT">
            <button type="submit">Like</button>
        </form>
        <img id="image" src="<%= post.image %>">
        <form method="POST" action="/post/addComment/<%= post._id %>">
            <input type="text" name="commment" required>
            <button type="submit">Post Comment</button>
        </form>
        <% for(let i = post.comments.length-1; i >= 0; i--){ %>
            <h5> <%= post.comments[i].user.userName %></h5>
            <p> <%= post.comments[i].comment %></p>
        <% } %>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>

