<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Welcome</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
        <a href="/feed">back</a>
        <h3>Posted by: <%= user.userName %></h3>
        <p>Posted At: <%= post.createdAt %></p>
		<h1 id="title"><%= post.title %></h1>
        <p id="caption"><%= post.caption %></p>
        <p>Likes: <%= post.likes %></p>
        <form method="POST" action="/post/like/<%= post._id %>?_method=PUT">
            <button type="submit">Like</button>
        </form>
        <img id="image" src="<%= post.image %>">
		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>

